body {background-image: url("37745694_1073876096110777_8885802236047785984_n.jpg"); }

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}





.btn-social-phone a {
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  margin: 5px;
}
.btn-social-phone .fa-stack-2x {
  color: black;
  font-size:70px;
}
.btn-social-phone .fa-stack-1x{
  display: inline-block;  
  position: relative;
  font-size: 20px;
  top: 12px;
  left:5px;
  transition: .4s;
}
.btn-social-phone-twitter {
  color: #74c1f8;
}
.btn-social-phone-facebook {
  color: #668ad8;
}
.btn-social-phone-pocket {
  color: #f79393;
}
.btn-social-phone-feedly {
  color: #acde71;
}
.btn-social-phone a:hover .fa-stack-1x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}






.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}
.btn-open {
  display: inline-block;
  width: 180px;
  height:50px;
  text-align: center;
  background-color: #9ec34b;
  font-size: 16px;
  line-height: 52px;
  color: #;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #9ec34b;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #483d8b;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-open:hover{
  color: #9ec34b;
}
.btn-open:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-open:active:after{
  height: 340%;
  opacity: 1;
}


* { 
    margin: 0px; 
    padding: 0px; 
}

